.App {
  text-align: center;
}

.searchHeading {
    font-size: 0.75rem;
    color: grey;
    font-variant: small-caps;
}

.searchResults ul {
    list-style: none
}

.searchResults {
    display: grid;
    grid-template-areas: 'components environments';
}

.searchResults .environments {
    grid-area: environments;
}

.searchResults .components {
    grid-area: components;
}

.App main {
	    padding-top: 48px;
}

pre {
	text-align: left;
  max-height: 800px;
}

.card-link {
    display: block;
}

#console {
  color: white;
  max-height: 250px;
  max_width: 100vw;
}

.navbar-brand {
	padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.sidebar-sticky .nav-link {
	color: rgba(26,26,26,.75);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar-sticky {
	position: fixed;
}
